// Place all the styles related to the Api::Notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$add-notebook: image_url("add-notebook.png");
$border: rgba(225, 225, 225, 0.61);
$grey-text: #878787;
$green-hover: #67B974;
$trash-icon: image_url("trash-icon.png");
$trash-icon-hover: image_url("trash-icon-hover.png");

.notes-container {
  width: 321px;
  margin-left: 75px;
}

.notes-header {
  display: flex;
  flex-direction: column;
  padding: 20px 20px 10px 20px;
  justify-content: space-between;
  border-bottom: $border 1px solid;
}

.notes-header h2 {
  color: $grey-text;
  font-weight: 300;
  display: inline-block;
  vertical-align: top;
  font-size: 22px;
  letter-spacing: 0.8px;
  text-transform: uppercase;
}

.notes-header p {
  margin-top: 25px;
  color: $grey-text;
  font-size: 14px;
  font-weight: 300;
}

.note-list {
  height: calc(100vh - 101px);
  overflow: scroll;
}

.note-list li {
  position: relative;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  min-height: 122px;
  transition: color 0.1s ease-in-out;
}

.note-list li:hover {
 background-color: $green-hover;
 .note-delete-icon {
  visibility: visible;
  }
}

.note-list li:hover p {
  color: white;
}

.note-list li:after {
  content:""; 
  background: $border; 
  position: absolute;
  margin: 0 0 0 -8px;
  padding-left: 265px;
  bottom: 0; 
  height: 1px; 
  width: 10%;
}

.note-title {
  white-space: nowrap;
  overflow: hidden;
  color: #4a4a4a;
  text-overflow: ellipsis;
  height: 22px;
  transform: scale(1, .9);
  font-size: 18px;
  font-family: 'Slabo 27px', serif;
  font-weight: 200;
  margin: 12px 0 -3px 0;
  display: inline-block;
  width: 200px;
  letter-spacing: 0.5px;
}

.note-updated {
  height: 6px;
  color: $grey-text;
  font-weight: 400;
  font-size: 11px;
  text-transform: uppercase;
}

.note-body-snippet {
  font-size: 12px;
  margin: 20px 20px;
  font-weight: 400;
  line-height: 17px;
  color: $grey-text;
  max-lines: 3;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  overflow: hidden;
  display: block;
  max-height: 51px;
}

.note-header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  // width: 100;
  margin-right: 20px;
}

.note-title-container {
  margin-left: 20px;
}

.note-actions {
  // width: 96px;
  
  align-self: center;
  justify-self: center;
  // margin-left: -40px;
}

.note-delete-icon {
  background-image: $trash-icon;
  visibility: hidden;
  align-self: center;
  box-sizing: border-box;
  width: 24px;
  height: 24px;
  padding: 5px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.note-delete-icon:hover {
  background-image: $trash-icon-hover;
  width: 24px;
  height: 24px;
}