$button-green-down: #01A048;
$green: #2dbe60;
$terms-link: rgba(0, 0, 0, 0.5);
$terms-text: #989898;
$background: #FFFFFF;
$errors: #FF415F;
$form-background: #EEF2F3;
$text-color: #000000;
$dividers: #F3F3F3;
$logo-url: image_url("infinotes.png");

.session-container {
  padding: 40px 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  min-height: 95px;
  padding: 0 40px;
  border: $dividers 1px solid;
  position: fixed;
  width: calc(100% - 80px);
  background-color: $background;
}

.header-logo {
  background-image: $logo-url;
  background-size: 75%;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 50px;
  min-width: 50px;
}

.header div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header div h2 {
  font-family: 'Bitter', serif;
  font-size: 23px;
  font-weight: 500;
  color: $green;
  text-transform: uppercase;
}

.session-links {
  display: flex;
  flex-direction: row;
  // margin: 20px;
}

.session-links a:first-child {
  // width: 100px;
  font-weight: 300;
  font-size: 14px;
  width: 100px;
  line-height: 10px;
  font-size: 13px;
  text-align: center;
  transition: .2s all ease-in-out;
}

.session-links a:hover {
  color: $green;
}

.demo-login {
  font-weight: 600 bold;
  font-size: 14px;
  max-width: 197px;
  white-space: nowrap;
  line-height: normal;
  font-size: 14px;
  text-align: center;
  padding: 15px 20px 14px 20px;
  border: 2px solid $text-color;
  border-radius: 4px;
  transition: .2s all ease-in-out;
}

.demo-login:hover {
  border-color: $green;
}

.session-container {
  display: flex;
  flex-direction: row;
  padding-top: 150px;
}

.intro-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  height: 420px;
}

.intro-container h1 {
  font-size: 60px;
  line-height: 70px;
  font-weight: 800;
  height: auto;
}

.intro-container p {
  margin-top: 25px;
  font-size: 21px;
  line-height: 28px;
  font-family: "webfont";
}

.session-divider {
  margin-left: 40px;
  margin-right: 40px;
  border-left: $dividers 1px solid;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: center;
  margin: auto;
  padding: 0 50px 0 40px;
  float: right;
  width: 480px;
}

.form-container form {
  display: flex;
  flex-direction: column;
  width: 360px;
  align-items: center;
}

.form-container form h3 {
  font-size: 25px;
  line-height: 33px;
  font-weight: 700;
  display: block;
  width: 100%;
  box-sizing: border-box;
  text-align: start;
}

.form-container ul {
  display: block;
  width: 100%;
  min-height: 50px;
  box-sizing: border-box;
}

.form-container ul li {
  color: $errors;
  font-size: 12px;
  display: block;
  width: 100%;
  box-sizing: border-box;

}

.form-container form input {
  display: block;
  width: 100%;
  box-sizing: border-box;
  background-color: $form-background;
  border: 1px solid $form-background;
  border-radius: 4px;
  padding: 16px 12px 15px;
  font-size: 14px;
  color: black;
  font-weight: 400;
  margin-top: 16px; 
}

.form-container form input:focus {
  outline-color: skyblue;
  outline-width: 4px;
  outline-style: auto;
}

.form-container form input::placeholder {
  font-weight: 500;
  color: #989898;
}

.form-container form p {
  font-size: 11px;
  font-weight: 200;
  color: $terms-text;
  margin-top: 22px;
  text-align: start;
  display: block;
  width: 100%;
  box-sizing: border-box;
}

.form-container form button {
  background-color: $green;
  display: inline-block;
  display: block;
  width: 100%;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
  text-align: center;
  color: $background;
  border: 0;
  border-radius: 4px;
  margin-top: 22px;
  margin-bottom: 22px;
  padding: 18px 20px 17px;
  transition: .3s background ease-in-out;
  -webkit-font-smoothing: antialiased;
}

.form-container form button:hover {
  background-color: #01A048;
}