<!DOCTYPE html>
<html>
  <head>
    <title>Infinotes</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Bitter:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,300,500,600,700" rel="stylesheet">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
